<%= form_for(recipe) do |f| %>
  <form role="form">  
    <div class="form-group">
      <label for="recipe-title">Recipe Title</label>
      <%= f.text_field :title, class: "form-control", placeholder: "Bologna Sandwich" %><br />
    </div>
    <div class="form-group">
      <label for="recipe-description">Description</label>
      <%= f.text_area :description, class: "form-control", placeholder: "Add a description or overview to your recipe (optional)" %><br />
    </div>
    <div class="form-group">
      <label for="recipe-author">Author</label>
      <%= f.text_field :author, class: "form-control", placeholder: "The Iron Chef" %><br />
    </div>
    <div class="form-group">
      <label for="recipe-source">Recipe Source</label>
      <%= f.text_field :source, class: "form-control", placeholder: "yum yum nom nom blog" %><br />
    </div>
    <div class="form-group">
      <label for="recipe-yield">Recipe Yield</label>
      <%= f.text_field :yield, class: "form-control", placeholder: "5 servings" %><br />
    </div>
    <div class="form-group">
      <label for="title-image">Image URL</label>
      <%= f.text_field :bg_image, class: "form-control", placeholder: "http://www.deliciousfoods.com" %><br />
    </div>
    <div class="form-group">
      <label for="recipe-cook-time">Total Cook Time</label>
      <%= f.text_area :cook_time, class: "form-control", placeholder: "5 minutes Prep, \n10 minutes cook" %><br />
    </div>
    <hr>
    <div class="form-group" id="steps-container">
      <label for="recipe-steps">Create steps below</label>
      <%= f.fields_for :steps do |step| %>
        <div class="step-block">
          <%= step.number_field :ordinal, class: "form-control", placeholder: "Step #" %><br />
          <%= step.number_field :time, class: "form-control", placeholder: "# milliseconds" %><br />
          <%= step.text_area :description, class: "form-control", placeholder: "Start some water boiling." %><br />
        </div>
      <% end %>
    </div>
    <a href="" id="add-step-button">Add Step</a>

    <hr>
    <div class="form-group" id="ingredients-container">
      <label for="recipe-ingredients">Create ingredients below</label>
      <%= f.fields_for :ingredients do |ing| %>
        <div class="ingredient-block">
          <%= ing.number_field :quantity, class: "form-control", placeholder: "1" %><br />
          <%= ing.text_field :unit, class: "form-control", placeholder: "pinch, gram, gallon" %><br />
          <%= ing.text_field :comment, class: "form-control", placeholder: "crushed, minced, chopped" %><br />
          <%= ing.text_field :name, class: "form-control", placeholder: "Garlic" %><br />
        </div>
      <% end %>
    </div>
    <a href="" id="add-ingredient-button">Add Ingredient</a>
    <hr>

    <div class="field">
      <%= f.label "Tools:" %><br />
      <%= f.collection_check_boxes :tool_ids, Tool.all, :id, :name do |b| %>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
    <hr>

    <%= f.submit "Save Recipe", :class => "btn btn-default" %>
  </form>
<% end %>