<% content_for :title do %>
  Mealtimer
<% end %>

<!-- Main jumbotron for the name of the recipe, a brief description and (maybe) a start button -->
<div class="home jumbotron">
  <div class="container">
    <h1 class="inset logo"><span class="glyphicon glyphicon-cutlery">&nbsp;</span><span class="glyphicon glyphicon-time"></span></h1>
    <h1 class="inset logo">meal&middottimer</h1>
    <p class="inset">dinner on the table on time</p>
  </div>
</div>

<div class="row search-row">
  <div class="col-lg-12">
    <div class="recipe-search">
      <%= form_tag search_recipes_path, method: "GET" do %>
        <div class="search-logo">
          <a href="/"><h1 class="inset logo">meal&middottimer</h1></a>
        </div>
        <%= text_field_tag :q, params[:q], class: "search-form", placeholder: "What are you cooking?" %>
        <span class="search-form-button">
          <button class="search-button">Search</button>
        </span>
      <% end %>
    </div>
  </div>
</div>

<div class="container content">
    <h3 class="subtitle">Recipes</h3>
    <div class="row recipe-grid">
      <% @recipes.each do |recipe| %>
        <div class="col-xs-6 col-md-4 recipe">
          <a class="thumbnail" href="/recipes/<%= recipe.id %>" >
            <img src="<%= recipe.bg_image %>" alt="<%= recipe.title %>">
            <div class="title-description">
              <h4 class="title"><%= recipe.title %></h4>
            </div>
          </a>
        </div>
      <% end %>
    </div>
</div>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>